<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>会计从业资格证 问答</title>
<link href="{$Think.const.APP_IMG}pub.css" rel="stylesheet" type="text/css">
<link href="{$Think.const.APP_IMG}vip.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="{$Think.const.APP_JS}jquery.js"></script>
<script type="text/javascript">
function ChkAsk(){
	if($('#lessons').val()==''){
		alert('请选择课时');
		return false;
	}
	if($('#context').val()==''){
		alert('请填写问题内容');
		return false;
	}
}

function LoadOption(id,types,obj,default_opt){
  var url="{:U('Wangxiao/Loadoptions')}";
  $.ajax({
	url:url,
	type:'post',
	data:{id:id,types:types},
	dataType:'JSON',
	success:function(json){
		$("#"+obj).empty();
		if(typeof(default_opt)!=="undefined"){
			$("#"+obj).append("<option value=''>"+default_opt+"</option>");
			}
		for(i=0;i<=json.length;i++){
			if(json[i].child==0){
				$("#"+obj).append("<option value='"+json[i].id+"'>--"+json[i].name+"</option>")
			}else{
				$("#"+obj).append("<option value='"+json[i].id+"'>"+json[i].name+"</option>")
			}
		}
	},
	error:function(){
		alert('error');
	}
  })
}
$(function(){
  var kemuid=$('#kemu').val();
  LoadOption(kemuid,'chapter','chapter');
})
</script>
</head>

<body>
<include file="wangxiao/top" />
<div class="h40"></div>
<div class="main">
  <div class="cont-bg yinying fl">
    <include file="wangxiao/left" />
    <div class="cont-r fr">
      <h2>问答</h2>
      <form method="post" name="dopost" action="{:U('wangxiao/tiwen')}" id="question" onSubmit="return ChkAsk();">
      <div class="r-cont fl">
        <div class="question fl">
          <div class="tiwen fl">
            <div class="xzbox fl">
              <select name="exam" id="exam" onChange="LoadOption(this.value,'subject','kemu','')">
              	<volist name="exam" id="vo">
                <option value="{$vo.exam_id}">{$vo.name}</option>
                </volist>
              </select>
              <select name="kemu" id="kemu" onChange="LoadOption(this.value,'chapter','chapter','')">
              <volist name="exam" id="sub">
                <option value="{$sub.id}">{$sub.subname}</option>
              </volist>  
              </select>
              <select name="chapter" id="chapter"  onChange="LoadOption(this.value,'lessons','lessons','-选择课时-')">
              </select>
              <select name="lessons" id="lessons">
              <option value="">-选择课时-</option>
              </select>
            </div>
            <div class="contbox fl">
              <textarea name="context" cols="" rows="" id="context"></textarea>
            </div>
            <div class="btnbox">
              <div class="btn fl">
                <div class="cheng-btn"><a href="javascript:void(0)" onClick="$('#question').submit()">我要提问</a></div>
              </div>
              <div class="btn fl">
                <div class="hui-btn"><a href="javascript:void(0)" onClick="$('#question').reset()">取消提问</a></div>
              </div>
            </div>
            <div class="h40"></div>
          </div>
          <!--在没有问答的时候<div class="nonebox"><img src="img/none-news.png" width="291" height="120"><span>您暂时还没有提问</span></div>-->
          <ul class="all">
            <volist name="myquestion" id="myask">
            <li>
              <div class="pic"><a href="#" target="_blank"><img src="{$Think.session.userhead}"></a></div>
              <div class="cont fl"><b>{$myask.title}</b><em>{$myask.context}</em><i>{$myask.createtime}</i><span><a href="{:U('wangxiao/answer',array('qid' => $myask['qid']))}">查看</a>+1</span></div>
            </li>
            </volist>
          </ul>
        </div>
      </div>
      </form>
    </div>
  </div>
</div>
<include file="wangxiao/foot" />
<div class="author">技术支持：长沙畅亨信息技术有限公司</div>
<script language="javascript" src="{$Think.const.APP_JS}common.js"></script>
<input type="hidden" id="n" value="1">
</body>
</html>
