<div class="navbox fl">
  <div class="head"><a href="#"><img src="{$Think.session.userhead}"></a><i>{$Think.session.username}</i></div>
  <ul class="list">
    <li class="chack">
      <a href="{:U('wangxiao/index')}"><div class="shp-ico"></div>视频</a></li>
    <li>
      <a href="{:U('wangxiao/question')}"><div class="wd-ico"></div>问答</a></li>
    <li>
      <a href="{:U('wangxiao/msg')}"><div class="xx-ico"></div>消息</a></li>
    <li>
      <a href="{:U('wangxiao/note')}"><div class="bj-ico"></div>笔记</a></li>
    <li>
      <a href="{:U('wangxiao/profile')}"><div class="shzh-ico"></div>设置</a></li>
  </ul>
</div>