<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>会计从业资格证 消息</title>
<link href="{$Think.const.APP_IMG}pub.css" rel="stylesheet" type="text/css">
<link href="{$Think.const.APP_IMG}vip.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="{$Think.const.APP_JS}jquery.js"></script>
<script type="text/javascript">
function ChkAll(ChkName){
	$(":checkbox[name='"+ChkName+"']").each(function(){
		if($(this).attr("checked")){
			$(this).attr("checked",false);
		}else{
			$(this).attr("checked",true);
		}
	})
}
function DelMsg(ChkName){
	var ids='';
	$(":checkbox[name='"+ChkName+"']:checked").each(function(){
	   ids+=$(this).val()+',';
	})
	var newids=ids.substring(0,ids.length-1);
	if(newids==''){
		alert('请选择要删除的消息');
		return false;
	}
	window.location.href="{:U('wangxiao/del_msg')}?msg_id="+newids;
}
</script>
</head>

<body>
<include file="wangxiao/top" />
<div class="h40"></div>
<div class="main">
  <div class="cont-bg yinying fl">
    <include file="wangxiao/left" />
    <div class="cont-r fr">
      <h2>消息</h2>
      <div class="tabbox fl">
        <div class="on" id="xx_1" onClick="playtab('xx_','xx_list','on','off',1,3);">未读消息</div>
        <div class="off" id="xx_2" onClick="playtab('xx_','xx_list','on','off',2,3);">已读消息</div>
        <div class="off" id="xx_3" onClick="playtab('xx_','xx_list','on','off',3,3);">所有消息</div>
      </div>
      <div class="r-cont fl">
        <div class="Showbox" id="xx_list1">
          <div class="question">
            <ul class="all">
            <volist name="msg['un_read']" id="msg1" empty="$empty">
              <if condition="$msg1.status eq 0 ">
                  <li><a href="{:U('wangxiao/readmsg',array('msg_id' => $msg1['id']))}">
                    <div class="pic"><img src="{$Think.const.APP_IMG}xiaoxi-ico.png"></div>
                    <div class="cont fl">
                    <if condition="$msg1.type eq 0 ">
                    <b>系统信息</b>
                    <else />
                    <b>机构消息</b>
                    </if>
                    <em>{$msg1.title}</em><i>{$msg1.createtime}</i></div>
                    </a>
                  </li>
              <else />
              <li class="nonebox" style="background:none"><img src="{$Think.const.APP_IMG}none-news.png" width="291" height="120"><span>您暂时还没有未读的消息</span></li>   
              </if> 
            </volist>
            </ul>
          </div>
        </div>
        <div class="Hidebox" id="xx_list2">
          <div class="question">
            <ul class="all">
            <volist name="msg['readed']" id="msg2" empty="$empty">
            <if condition="$msg2.status gt 0 ">
              <li><a href="{:U('wangxiao/readmsg',array('msg_id' => $msg2['id']))}">
                <div class="pic"><img src="{$Think.const.APP_IMG}xiaoxi-ico.png"></div>
                <div class="cont fl">
                <if condition="$msg2.type eq 0 ">
                <b>系统信息</b>
                <else />
                <b>机构消息</b>
                </if>
                <em>{$msg2.title}</em><i>{$msg2.createtime}</i></div>
                </a>
              </li>
              <else />
              <li class="nonebox" style="background:none"><img src="{$Think.const.APP_IMG}none-news.png" width="291" height="120"><span>您暂时还没有已读的消息</span></li> 
              </if>  
            </volist> 
            </ul>
          </div>
        </div>
        <div class="Hidebox" id="xx_list3">
          <div class="message">
            <input name="chkall" type="checkbox" onClick="ChkAll('msg_id')">
            &nbsp;
            <input type="button" onClick="DelMsg('msg_id')" value="批量删除">
          </div>
          <table cellpadding="0" cellspacing="1" class="message-table">
          <volist name="msg['allmsg']" id="msg3">
            <tr>
              <td width="4%"><input name="msg_id" type="checkbox" value="{$msg3.id}"></td>
              <td class="align-l"><a href="{:U('wangxiao/readmsg',array('msg_id' => $msg2['id']))}">{$msg3.title}</a></td>
              <td width="18%" class="time">{$msg3.createtime}</td>
              <td width="8%">
              <if condition="$msg3.status eq 1 ">
              <font color="#008000">已读</font>
              <else />
              <font color="#c00">未读</font>
              </if>
              </td>
              <td width="8%"><a href="{:U('wangxiao/del_msg',array('msg_id' => $msg3['id']))}" onClick="return confirm('确定删除么?')" class="red">删除</a></td>
            </tr>
          </volist>  
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<include file="wangxiao/foot" />
<div class="author">技术支持：长沙畅亨信息技术有限公司</div>
<script language="javascript" src="{$Think.const.APP_JS}common.js"></script>
<input type="hidden" id="n" value="2">
</body>
</html>
