<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>我的课堂笔记</title>
<link href="{$Think.const.APP_IMG}pub.css" rel="stylesheet" type="text/css">
<link href="{$Think.const.APP_IMG}vip.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="{$Think.const.APP_JS}jquery.js"></script>
<script type="text/javascript">
function LoadOption(id,types,obj,default_opt){
  var url="{:U('Wangxiao/Loadoptions')}";
  $.ajax({
	url:url,
	type:'post',
	data:{id:id,types:types},
	dataType:'JSON',
	success:function(json){
		$("#"+obj).empty();
		if(typeof(default_opt)!=="undefined"){
			$("#"+obj).append("<option value=''>"+default_opt+"</option>");
			}
		for(i=0;i<=json.length;i++){
			if(json[i].child==0){
				$("#"+obj).append("<option value='"+json[i].id+"'>--"+json[i].name+"</option>")
			}else{
				$("#"+obj).append("<option value='"+json[i].id+"'>"+json[i].name+"</option>")
			}
		}
	},
	error:function(){
		alert('error');
	}
  })
}

function delnote(note_id){
	var flag=confirm('确定要删除此条笔记吗?');
	if(!flag){return false;}
	var url="{:U('wangxiao/delnote')}?note_id="+note_id;
	$.get(url,function(callback){
		if(callback=='success'){
			alert('成功删除一条笔记');
			$("li[name='"+note_id+"']").remove();
		}
	})
}

$(function(){
  var kemuid=$('#kemu').val();
  LoadOption(kemuid,'chapter','chapter');
  $('.edit-note').click(note_edit=function(){
	 var content=$(this).parents('.cont').find('em');
	 var note_id=$(this).parents('.cont').attr('note-id');
	 var context=content.html();
	 var textarea='<textarea name="" cols="" rows="" class="edit_nr">'+context+'</textarea>';
	 $(this).html('保存');
	 $(this).unbind();
	 $(this).bind('click',function(){
		var url="{:U('wangxiao/editnote')}?note_id="+note_id+"&content="+$('.edit_nr').val();
		$.get(url,function(callback){
		  if(callback=='error'){
			  alert('未做任何修改');
		  }else{
			  content.html($('.edit_nr').val());
			  $('.edit-note').html('编辑');
			  $('.edit-note').unbind();
			  $('.edit-note').bind('click',note_edit);
		  }
		})
	 });
	 content.html(textarea);
  })
})
</script>
</head>

<body>
<include file="wangxiao/top" />
<div class="h40"></div>
<div class="main">
  <div class="cont-bg yinying fl">
    <include file="wangxiao/left" />
    <div class="cont-r fr">
      <h2>笔记</h2>
      <div class="r-cont fl">
      <if condition="$empty neq ''">
      {$empty}
      <else />
        <div class="biji fl"> 
          <div class="xzbox fl">
          <form name="note" action="{:U('wangxiao/note')}" method="post">
          <select name="exam" id="exam" onChange="LoadOption(this.value,'subject','kemu','')">
            <volist name="exam" id="vo">
            <option value="{$vo.exam_id}">{$vo.name}</option>
            </volist>
          </select>
          <select name="kemu" id="kemu" onChange="LoadOption(this.value,'chapter','chapter','')">
          <volist name="exam" id="sub">
            <option value="{$sub.id}">{$sub.subname}</option>
          </volist>  
          </select>
          <select name="chapter" id="chapter"  onChange="LoadOption(this.value,'lessons','lessons','-选择课时-')">
          </select>
          <select name="lesson_id" id="lessons">
          <option value="">-选择课时-</option>
          </select>
          <input name="" type="submit" value="查询">
          </form>
          </div>
          <ul class="all">
          <volist name="note" id="n">
            <li name="{$n.noteid}">
              <div class="cont fl" note-id="{$n.noteid}"><b><a href="{:U('wangxiao/play',array('vid' => $n['id']))}" target="_blank"><div class="ico">{$n.playtime|playtime=###|number_format=###,"2",":",":"}</div>{$n.examname} - {$n.subname} - {$n.name}</a></b><em>{$n.content}</em><i>{$n.createtime}</i><span><a class="edit-note" href="javascript:void(0)">编辑</a><a href="javascript:void(0)" onClick="delnote('{$n.noteid}')">删除</a></span></div>
            </li>
          </volist>   
          </ul>
          <div class="h20"></div>
          <div class="pages">{$page}</div>
        </div>
      </if>  
      </div>
    </div>
  </div>

</div>
<include file="wangxiao/foot" />
<div class="author">技术支持：长沙畅亨信息技术有限公司</div>
<script language="javascript" src="{$Think.const.APP_JS}common.js"></script>
<input type="hidden" id="n" value="3">
</body>
</html>
