<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>课程学习-{$lesson['name']}</title>
<link href="{$Think.const.APP_IMG}pub.css" rel="stylesheet" type="text/css">
<link href="{$Think.const.APP_IMG}video.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="{$Think.const.APP_JS}jquery.js"></script>
<script type="text/javascript">
function getLight(pars){if(pars=="open"){close_light(this)}else{close_light(this)}};function thisMovie(movieName){if(navigator.appName.indexOf("Microsoft")!=-1){return window[movieName]}else{return document[movieName]}}
function Ask(){
	var lesson_id=$('#lesson_id').val();
	var context=$('#wtnr').val();
	if(context==''){
		alert('请输入问题内容');
		return false;
	}
	if(DataLength(context) <=10){
		alert('问题内容过于简短!');
		return false;
	}
	var url="{:U('Wangxiao/tiwen')}";
	$.ajax({
	  url:url,
	  type:'get',
	  data:{lesson_id:lesson_id,content:context},
	  dataType:'JSON',
	  contentType: "application/x-www-form-urlencoded; charset=utf-8", 
	  success:function(json){
		  if(json.id!=''){
			  alert('问题提交成功');
		  }
	  },
	  error:function(){
		  alert('提交问题出错,请重试');
	  }	  
    })
}

function Note(){
	var lesson_id=$('#lesson_id').val();
	var context=$('#bjnr').val();
	var playtime=$('#NoteTime').val();
	if(context==''){
		alert('请输入笔记内容');
		return false;
	}
	if(DataLength(context) <=10){
		alert('笔记内容过于简短');
		return false;
	}
	var url="{:U('wangxiao/addnote')}";
	$.ajax({
	  url:url,
	  type:'get',
	  data:{lesson_id:lesson_id,context:context,playtime:playtime},
	  dataType:'JSON',
	  contentType: "application/x-www-form-urlencoded; charset=utf-8", 
	  success:function(json){
		  if(json.id!=''){
			  $("#note").prepend('<div class="vlbook fl"><div class="txt"><div class="f-right"><div class="vipname fl"><a href="#"><div class="ico">'+json.playTime+'</div></a></div><div class="pinglun-box fl">'+json.content+'</div></div></div></div>');
			  $('#bjnr').val('');
		  }
	  },
	  error:function(){
		  alert('笔记添加失败');
	  }
	})
}

$(window).on('beforeunload',function(){
 var url="{:U('Wangxiao/Playdone')}?lesson_id="+$('#lesson_id').val()+"&playtime="+$('#curtime').val();	
 $.get(url);								 
})

$(function(){
  $("#fullscreen").click(function(){
	 if($(this).attr("class")=="shou"){
		 $(".vl").hide();
		 $(".vr-in").css("margin-right","25px");
		 $(this).removeClass("shou");
		 $(this).addClass("zhan");
	 }else{
		 $(".vl").show();
		 $(".vr-in").css("margin-right","380px");
		 $(this).removeClass("zhan");
		 $(this).addClass("shou");
	 }
  })
  $("#bjnr").focus(function(){
	 $('#NoteTime').val($('#curtime').val());
  })
  $('.vl-mulu a').each(function(){
	if($(this).attr('name')==$('#lesson_id').val()){
		$(this).addClass('xuan');
	}
  })
})

function getTimes (pars)
{
var times = pars;
$('#curtime').val(times);
}
</script>
</head>
<body>
<include file="wangxiao/top" />
<div class="vr">
<div class="vr-in">
  <div class="v-top">
    <div class="name fl">{$lesson['name']}</div>
    <div class="btn fr"><a href="{:U('wangxiao/play',array('vid' => $lesson['next']))}">下一个&nbsp;&gt;</a><a href="{:U('wangxiao/play',array('vid' => $lesson['pre']))}">&lt;&nbsp;上一个</a></div>
  </div>
  <script type="text/javascript" src="{$Think.const.APP_JS}swfobject.js"></script>
  <div class="v-paly" id="CuPlayer"><b><img src="{$Think.const.APP_IMG}loading.gif"  /> 网页视频播放器加载中，请稍后...</b></div>
  <SCRIPT language=javascript src="{$Think.const.APP_JS}action.js" type=text/javascript></SCRIPT>
  <script type="text/javascript">
    var vheight=$('.vr').height()-105;
    var so = new SWFObject("{$Think.const.APP_BFQ}player.swf","ply",'100%',vheight,"9","#000000");
    so.addParam("allowfullscreen","true");
    so.addParam("allowscriptaccess","always");
    so.addParam("wmode","opaque");
    so.addParam("quality","high");
    so.addParam("salign","lt");
    //播放器设置文件-----------------------------
    so.addVariable("JcScpFile","{$Think.const.APP_BFQ}CuSunV2set.php");
    //视频文件及略缩图--------------------------
    so.addVariable("JcScpVideoPath","{$lesson['videourl']}"); 
    so.addVariable("JcScpImg","images/startpic.jpg");
    so.addVariable("ShowJcScpAVideo","yes");
    so.addVariable("JcScpAVideoPath","http://mp4.52huike.com/org/examwcom.mp4"); 
    so.addVariable('JcScpLogoPath','{$Think.session.logo}');
    so.write("CuPlayer");
  </script>
  </div>
  <div id="fullscreen" class="shou"></div>
</div>

<div class="vl fl">
  <div class="vl-nva">
    <div class="on" id="video_1" onClick="playtab('video_','video_list','on','off',1,3);">目录</div>
    <div class="off" id="video_2" onClick="playtab('video_','video_list','on','off',2,3);">问答</div>
    <div class="off" id="video_3" onClick="playtab('video_','video_list','on','off',3,3);">笔记</div>
  </div>
  <div class="Showbox" id="video_list1">
    <div class="vl-mulu">
    <volist name="chapter" id="cp">
    <if condition="($cp.child neq 0)">
      <div class="zhang">
        <div class="zh-l">第{$cp.order}章</div>
        <div class="zh-r" title="{$cp.name}">{$cp.name}</div>
      </div>
    </if>  
      <div class="list">
       <if condition="($cp.child eq 0)">
      <a name="{$cp.lesson_id}" href="{:U('wangxiao/play',array('vid' => $cp['lesson_id']))}" title="{$cp.name}"><span>课时{$cp.order}</span>
        <div class="name"><em></em>{$cp.name}</div>
        <div class="btn"><i></i>{$cp.time|playtime=###,"60"}分钟</div>
      </a>
      </if>
      </div>
   </volist>
    </div>
    <div class="vl-more"><a href="#" target="_blank">查看视频简介</a></div>
  </div>
  <div class="Hidebox" id="video_list2">
    <div class="vlbook-cont">
    <div class="vlbook-box fl">
      <textarea id="wtnr" class="book-box"></textarea>
      <div class="sure"><a href="javascript:void(0)" onClick="Ask()">发布问答</a></div>
      <div class="h10"></div>
    </div>
    <div id="wenda">
    <volist name="question" id="q">
      <div class="vlbook fl">
        <div class="txt">
          <div class="f-right">
            <div class="vipname fl">{$q.nickname}<span>{$q.createtime}</span></div>
            <div class="pinglun-box fl">{$q.context|mb_substr=###,0,30,'utf-8'}</div>
            <div class="huifu"><span id="huifu1"><a href="#" class="apply huifu">回复({$q.renums})</a></span></div>
          </div>
        </div>
      </div>
    </volist>  
    </div>
    </div>
    <div class="vl-more"><a href="{:U('wangxiao/question')}" target="_blank">更多问答</a></div>
  </div>
  <div class="Hidebox" id="video_list3">
  <div class="vlbook-cont">
    <div class="vlbook-box fl">
      <textarea name="bjnr" class="book-box" id="bjnr"></textarea>
      <div class="sure"><a href="javascript:void(0)" onClick="Note()">保存笔记</a></div>
      <div class="h10"></div>
    </div>
    <div id="note">
    <volist name="note" id="n">
    <div class="vlbook fl">
      <div class="txt">
        <div class="f-right">
          <div class="vipname fl"> <a href="#">
            <div class="ico">{$n.playtime|playtime=###|number_format=###,"2",":",":"}</div>
            </a> </div>
          <div class="pinglun-box fl">{$n.content}</div>
        </div>
      </div>
    </div>
    </volist>
    </div>
    </div>
    <div class="vl-more"><a href="#" target="_blank">更多笔记</a></div>
  </div>
</div>
<input type="hidden" id="lesson_id" value="{$_GET['vid']}">
<input type="hidden" id="curtime">
<input type="hidden" id="NoteTime">
</body>
<script language="javascript" src="{$Think.const.APP_JS}common.js"></script>
</html>