<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>个人资料设置</title>
<link href="{$Think.const.APP_IMG}pub.css" rel="stylesheet" type="text/css">
<link href="{$Think.const.APP_IMG}vip.css" rel="stylesheet" type="text/css">
<link href="{$Think.const.APP_IMG}photo.css" rel="stylesheet" type="text/css">
<link href="{$Think.const.APP_IMG}uploadify.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="{$Think.const.APP_JS}jquery.js"></script>
<script type="text/javascript" src="{$Think.const.APP_JS}jquery.uploadify-3.1.js"></script>
<script type="text/javascript" src="{$Think.const.APP_JS}jquery.Jcrop.min.js"></script>
<script type="text/javascript">
var upurl="{:U('upimg/uploder')}";
$(function() {
	$("#avatarUpload").uploadify({
		'auto'				: false,
		'multi'				: false,
		'uploadLimit'		: 1,
		'formData' : { 'authId' : '{$Think.session.userid}' },
		'buttonText'		: '请选择图片',
		'height'			: 20,
		'width'				: 120,
		'removeCompleted'	: false,
		'swf'				: '{$Think.const.APP_IMG}uploadify.swf',
		'uploader'			: upurl,
		'fileTypeExts'		: '*.gif; *.jpg; *.jpeg; *.png;',
		'fileSizeLimit'		: '1024KB',
		'onUploadSuccess' : function(file, data, response) {
			var msg = $.parseJSON(data);
			if( msg.result_code == 1 ){
				$("#img").val( msg.result_des );
				$("#avatar").attr('src',msg.result_des);
			} else {
				alert('上传失败');
			}
		},
		'onClearQueue' : function(queueItemCount) {
            alert( $('#img1') );
        },
		'onCancel' : function(file) {
            alert('The file ' + file.name + ' was cancelled.');
        }
    });
   
});
</script>
</head>

<body>
<include file="wangxiao/top" />
<div class="h40"></div>
<div class="main">
  <div class="cont-bg yinying fl">
    <include file="wangxiao/left" />
    <div class="cont-r fr">
      <h2>设置</h2>
      <div class="tabbox fl">
        <div class="on" id="shzh_1" onClick="playtab('shzh_','shzh_list','on','off',1,3);">基本信息</div>
        <div class="off" id="shzh_2" onClick="playtab('shzh_','shzh_list','on','off',2,3);">修改密码</div>
        <div class="off" id="shzh_3" onClick="playtab('shzh_','shzh_list','on','off',3,3);">头像</div>
      </div>
      <div class="r-cont fl">
        <div class="Showbox" id="shzh_list1">
          <div class="reg-box">
            <div class="filelist">
            <form name="form1" id="form1" action="{:U('wangxiao/profile_update')}" method="post" onSubmit="return profile_chk()">
              <ul>
                <li><em>用户名：</em><span>{$Think.session.username}</span></li>
                <li><em>真实姓名：</em>
                  <input name="name" id="name" type="text" border="0" class="text" value="{$info['name']}" />
                  <i>*</i></li>
                <li><em>手机号码：</em>
                  <input name="phone" id="phone" type="text" border="0" class="text" value="{$info['phone']}" />
                  <i>*</i></li>
                <li><em>E-mail：</em>
                  <input name="email" id="email" type="text" border="0" class="text" value="{$info['email']}" />
                  <i>*</i></li>
                <li>
                  <div class="reg-btn">
                    <div class="cheng-btn"><a href="javascript:void(0)" onClick="$('#form1').submit();">提交修改</a></div>
                  </div>
                </li>
              </ul>
              </form>
            </div>
          </div>
        </div>
        <div class="Hidebox" id="shzh_list2">
          <div class="reg-box">
            <div class="filelist">
              <ul>
              <form name="form2" id="form2" action="{:U('wangxiao/password_update')}" method="post" onSubmit="return password_chk()">
                <li><em>用户名：</em><span>{$Think.session.username}</span></li>
                <li><em>旧密码：</em>
                  <input name="oldpass" id="oldpass" type="password" border="0" class="text sn" />
                  <i><font class="red">*&nbsp;</font>输入您当前的密码</i></li>
                <li><em>新密码：</em>
                  <input name="newpass" id="newpass" type="password" border="0" class="text sn" />
                <i><font class="red">*&nbsp;</font>输入您的新密码</i></li>
                <li><em>新密码确认：</em>
                  <input name="repass" id="repass" type="password" border="0" class="text sn" />
                 <i><font class="red">*&nbsp;</font>确认新密码</i></li>
                <li>
                  <div class="reg-btn">
                    <div class="cheng-btn"><a href="javascript:void(0)" onClick="$('#form2').submit()">确认修改</a></div>
                  </div>
                </li>
              </form>  
              </ul>
            </div>
          </div>
        </div>
<div class="Hidebox" id="shzh_list3">
          <div class="photo-moren"><img id="avatar" src="{$info['imgurl']}"></div>
          <div class="upload-control">
            <div class="file-control">
            <input type="file" name="image_file" id="avatarUpload">
            <input type="hidden" id="img" name="img" />
			<input type="hidden" id="x" name="x" />
			<input type="hidden" id="y" name="y" />
			<input type="hidden" id="w" name="w" />
			<input type="hidden" id="h" name="h" />
            </div>
            
            <div class="error"></div>
            <div style="width:107px;margin:8px auto;font-size:12px">
				<a style="color:#00F" href="javascript:$('#avatarUpload').uploadify('upload','*')">开始上传</a> |
				<a style="color:#00F" href="javascript:$('#avatarUpload').uploadify('cancel', '*')">取消上传</a>
			</div>		
		<div class="row">
			<input type="button" class="btn_submit" value="" id="avatar_submit" style="display:none;" />
		</div>
            <!--<p class="center" style="font-size:12px;color:#F00"><i>注：图片格式需为.jpg或.png,其它格式无效(不支持中文命名)，且图片大小不超过1MB。</i></p>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<include file="wangxiao/foot" />
<div class="author">技术支持：长沙畅亨信息技术有限公司</div>
<script language="javascript" src="{$Think.const.APP_JS}common.js"></script>
<input type="hidden" id="n" value="4">
</body>
</html>
