<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>我的问答</title>
<link href="{$Think.const.APP_IMG}pub.css" rel="stylesheet" type="text/css">
<link href="{$Think.const.APP_IMG}vip.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="{$Think.const.APP_JS}jquery.js"></script>
</head>

<body>
<include file="wangxiao/top" />
<div class="h40"></div>
<div class="main">
  <div class="cont-bg yinying fl">
    <include file="wangxiao/left" />
    <div class="cont-r fr">
      <h2>问答</h2>
      <div class="r-cont fl">
      <if condition="$empty_1 neq ''">
      {$empty_1}
      <else />
        <div class="question fl">
          <ul class="all">
          <volist name="questions" id="vo" empty="$empty">
            <li>
              <div class="pic"><a href="#" target="_blank"><img src="{$Think.session.userhead}"></a></div>
              <div class="cont fl"><b>{$vo.title}</b><em>{$vo.context}</em><i>{$vo.createtime}</i><span><a class="red" href="{:U('wangxiao/answer',array('qid' => $vo['qid']))}">查看</a></span></div>
            </li>
           </volist> 
          </ul>
          <div class="h20"></div>
          <div class="pages">{$page}</div>
          <div class="h20"></div>
          <div class="btndan">
            <div class="btn fl">
              <div class="cheng-btn"><a href="{:U('wangxiao/ask')}">我要提问</a></div>
            </div>
          </div>
        </div>
      </if>  
      </div>
    </div>
  </div>
</div>
<include file="wangxiao/foot" />
<div class="author">技术支持：长沙畅亨信息技术有限公司</div>
<script language="javascript" src="{$Think.const.APP_JS}common.js"></script>
<input type="hidden" id="n" value="1">
</body>
</html>
