<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>阅读消息</title>
<link href="{$Think.const.APP_IMG}pub.css" rel="stylesheet" type="text/css">
<link href="{$Think.const.APP_IMG}vip.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="{$Think.const.APP_JS}jquery.js"></script>
</head>

<body>
<include file="wangxiao/top" />
<div class="h40"></div>
<div class="main">
  <div class="cont-bg yinying fl">
    <include file="wangxiao/left" />
    <div class="cont-r fr">
      <h2><a href="{:U('wangxiao/msg')}">消息</a><i>&gt;</i><span><if condition="$msg.status eq 0">未读消息<else />已读消息</if></span></h2>
      <div class="r-cont fl">
        <div class="message">
          <span><a href="{$msg['relate']['pre']}">上一条</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="{$msg['relate']['next']}">下一条</a></span>
        </div>
        <div class="news-cont fl">
        	<h3>{$msg.title}</h3>
            <div class="cont fl">
            {$msg.content}
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<include file="wangxiao/foot" />
<div class="author">技术支持：长沙畅亨信息技术有限公司</div>
<script language="javascript" src="{$Think.const.APP_JS}common.js"></script>
<input type="hidden" id="n" value="2">
</body>
</html>
