<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>机构班级列表</title>
<link href="__PUBLIC__/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/js/jquery.js"></script>
<script type="text/javascript">
        function del_class(){
            var askid = ''; 
                $('input[name="askid"]:checked').each(function(){
                    if(this.checked){
                        askid+= $(this).val();
                        askid+=',';
                    }
                });
                askid = askid.substr(0,askid.length-1);
                if(!askid.length>0){
                    alert('请勾选要删除的提问');
                }else{
                    var status = confirm("确定要删除已勾选的提问吗？");
                    if(!status){
                     return false;
                    }                   
                   window.location.href = "{:U('ask/del_ask')}?askid="+askid;
                }
               
            }   

</script>
</head>


<body>

	<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="#">首页</a></li>
    <li><a href="#">学员管理</a></li>
    <li><a href="#">提问答疑</a></li>
    <li><a href="#">提问列表</a></li>
    </ul>
    </div>   
    <div class="rightinfo">    
    <div class="tools">    
    	<ul class="toolbar">       
        <li onclick="del_class()"><a href="javascript:void()"><span><img src="__PUBLIC__/images/t03.png" /></span>删除</a></li>
        </ul>
    </div>
    <table class="tablelist">
    	<thead>
    	<tr>
        <th><input name="" type="checkbox" value="" checked="checked"/></th>
        <th>学员用户名</th>        
        <th>学员昵称</th>
        <th>考试类目</th>
        <th>考试科目</th>
        <th>课时名称</th>
        <th>提问主题</th>
<!--    <th>状态</th>-->
        <th>创建时间</th>
        <th>更新时间</th>
        <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <volist id="vo" name="asklist">
        <tr>
        <td><input name="askid" type="checkbox" value="{$vo.askid}" /></td>
        <td>{$vo.username}</td>        
        <td>{$vo.nickname}</td>
        <td>{$vo.ecnname}</td>
        <td>{$vo.subname}</td>
        <td>{$vo.cnname}</td>
        <td>{$vo.title}</td>
<!--        <td><if condition="$vo.ans_askid eq $vo.askid">                
                <font color="#008000">已回复</font>
            <else/>
                <font color="#FF0000">未回复</font>                
            </if>
        </td>-->
        <td>{$vo.create_time}</td>
        <td>{$vo.anstime}</td>
        <td><a href="{:U('ask/select_ask_answer',array('askid' => $vo['askid']))}" class="tablelink">回复</a>&nbsp;<a href="{:U('ask/del_ask',array('askid' => $vo['askid']))}" onclick="javascript:return confirm('确定删除此提问吗?')" class="tablelink">删除</a></td>
        </tr>   
        </volist>   
        </tbody>
    </table>   
    </div>
    
    <script type="text/javascript">
	$('.tablelist tbody tr:odd').addClass('odd');
	</script>

</body>

</html>
