<include file="Public/view_header" title="系统用户列表"/>
<body>

	<div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="#">首页</a></li>
            <li><a href="#">系统用户管理</a></li>
            <li><a href="#">用户列表</a></li>
        </ul>
    </div>
    
    <div class="rightinfo">
    
        <div class="tools">
        	<ul class="toolbar">
                <li class="click">
                    <a href="{:U('Home/Admin/add_user')}"><span><img src="__PUBLIC__/images/t01.png" /></span>添加</a>
                </li>
            </ul>
        </div>

        <table class="tablelist">
        	<thead>
            	<tr>
                    <th>编号<i class="sort"><img src="__PUBLIC__/images/px.gif" /></i></th>
                    <th>用户名</th>
                    <th>用户组</th>
                    <th>锁定</th>
                    <th>姓名</th>
                    <th>注册时间</th>
                    <th>最后登录时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <volist id="vo" name="users">
                <tr>
                    <td>{$vo.adminid}</td>
                    <td>{$vo.username}</td>
                    <td>{$vo.groupname}</td>
                    <td>
                    <if condition="$vo.lock eq 1">
                        <font color="#FF0000">是</font>
                    <else />
                        <font color="#008000">否</font>
                    </if>
                    </td>
                    <td>{$vo.realname}</td>
                    <td>{$vo.regtime}</td>
                    <td>{$vo.lastlogintime}</td>
                    <td>
                        <a href="{:U('Home/Admin/edit_user',array('uid' => $vo['adminid']))}" class="tablelink">修改</a>

                        <a href="{:U('Home/Admin/del_user',array('uid' => $vo['adminid']))}" onclick="javascript:return confirm('确定删除此用户吗?')" class="tablelink">删除</a>
                    </td>
                </tr>   
                </volist>   
            </tbody>
        </table>
    </div>

    <script type="text/javascript">
    <!--
    $(function(){
        //
        $('.tablelist tbody tr:odd').addClass('odd');
    });
    //-->
    </script>
</body>
<include file="Public/view_footer"/>