<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>考试科目列表</title>
<link href="__PUBLIC__/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/js/jquery.js"></script>
</head>


<body>

	<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="#">首页</a></li>
    <li><a href="{:U('Subjects/list_exam')}">考试管理</a></li>
    <li><a href="#">考试科目列表</a></li>
    </ul>
    </div>
    
    <div class="rightinfo">
	<div class="tools">
    	<ul class="toolbar">
        <li class="click"><a href="{:U('Subjects/add_user',array('examid' => $_GET['examid']))}"><span><img src="__PUBLIC__/images/t01.png" /></span>添加</a></li>
        </ul>
    </div>
    <table class="tablelist">
    	<thead>
    	<tr>
        <th><input name="" type="checkbox" value="" checked="checked"/></th>
        <th>考试名称</th>
        <th>科目名称</th>
        <th width="12%">创建时间</th>
        <th width="12%">更新时间</th>
        <th>排序</th>
        <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <volist id="vo" name="sublist">
        <tr>
        <td><input name="subid" type="checkbox" value="{$vo.subid}" /></td>
        <td><a href="{:U('SysClass/list_user',array('examid' => $vo['examid'],'subid' => $vo['subid']))}" class="tablelink">{$vo.subname}</a></td>
        <td>{$vo.cnname}</td>
        <td>{$vo.create_time}</td>
        <td>{$vo.last_time}</td>
        <td>{$vo.sortid}</td>
        <td><a href="{:U('Subjects/edit_user',array('examid' => $vo['examid'],'subid' => $vo['subid']))}" class="tablelink">修改</a>     <a href="{:U('Subjects/del_user',array('examid' => $vo['examid']))}" onclick="javascript:return confirm('确定删除此用户吗?')" class="tablelink"> 删除</a></td>
        </tr>
        </volist>
        </tbody>
    </table>
    </div>
    
    <script type="text/javascript">
	$('.tablelist tbody tr:odd').addClass('odd');
	</script>

</body>

</html>
