<include file="Public/view_header" title="选择机构"/>
<body>
    <!-- 导航 -->
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="#">首页</a></li>
            <li><a href="#">学员信息管理</a></li>
            <li><a href="#">添加学员</a></li>
            <li><a href="#">选择机构</a></li>
        </ul>
    </div>

    <!-- 选择机构 -->
    <div class="rightinfo">
        <table class="tablelist" style="text-align:center">
            <thead>
                <tr>
                    <th align="center" colspan="10">选择机构</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <volist name="agencies" id="vo" mod="5">
                        <td>
                            <a href="{:U('Home/Member/add_member',array('agencyId'=>$vo['id']))}">{$vo.name}</a>
                        </td>
                        <eq name="mod" value="4">
                            </tr><tr>
                        </eq>
                    </volist>
                </tr>
            </tbody>
        </table>
    </div>

    <script type="text/javascript">
    <!--
    $(function(){
        $('.tablelist tbody tr:odd').addClass('odd');
    });
    //-->
    </script>

</body>
<include file="Public/view_footer"/>