<if condition="isset($_GET['agencyId']) and !empty($_GET['agencyId'])">
  <assign name="title" value="添加机构默认管理员"/>
<else/>
  <assign name="title" value="添加机构管理员"/>
</if>
<include file="Public/view_header" title="{$title}"/>
<body>

  <div class="place"> 
    <span>位置：</span>
    <ul class="placeul">
      <li><a href="#">首页</a></li>
      <li><a href="#">机构信息管理</a></li>
      <li><a href="#">{$title}</a></li>
    </ul>
  </div>

  <div class="formbody">

    <div class="formtitle">
      <span>{$title}</span>
    </div>

    <ul class="forminfo">
    <form action="{:U('Home/Agency/add_user')}" method="POST">
      <li>
        <label>用户名</label>
        <input name="UserName" type="text" class="dfinput"/>
        <i><font color="red">*</font> 设置管理员用户名</i>
      </li>
      <li>
        <label>真实姓名</label>
        <input name="RealName" type="text" class="dfinput"/>
        <i><font color="red">*</font></i>
      </li>
      <li>
        <label>用户密码</label>
        <input name="PassWords" type="password" class="dfinput"/>
        <i>此用户登陆管理后台所使用的密码</i>
      </li>
      <li>
        <label>确认密码</label>
        <input name="RePassWords" type="password" class="dfinput" />
        <i>确认密码</i>
      </li>
      <li>
        <label>选择机构</label>
        <select name="JGID" class="styled-select">
          <option value="">-选择机构-</option>
          <volist name="agencies" id="vo">
          <option value="{$vo['id']}">{$vo['name']}</option>
          </volist>
        </select>
      </li>
      <li>
        <label>是否锁定</label>
        <cite>
          <input name="Lock" type="radio" value="1"/>&nbsp;是
          &nbsp;&nbsp;&nbsp;&nbsp;
          <input name="Lock" type="radio" value="0" checked="checked"/>&nbsp;否
        </cite>
      </li>
      
      <li>
        <label>管理组</label>
        <select name="GroupID" class="styled-select">
          <option value="">选择管理组</option>
          <volist name="groups" id="vo">
          <option value="{$vo['id']}">{$vo['name']}</option>
          </volist>
        </select>
      </li>
      <li>
        <label>&nbsp;</label>
        <if condition="isset($_GET['agencyId']) and !empty($_GET['agencyId'])">
        <input type="hidden" name="JGID" value="{$_GET['agencyId']}"/>
        </if>
        <input type="submit" class="btn" value="确认保存"/>
      </li>
    </form>
    </ul>
  </div>

  <script type="text/javascript">
  <!--
  $(function(){
    //
    <if condition="isset($_GET['agencyId']) and !empty($_GET['agencyId'])">
      //设置机构
      $("select[name='JGID']").val("{$_GET['agencyId']}").attr('disabled',true);
    </if>

  });
  //-->
  </script>
</body>
<include file="Public/view_footer"/>