<include file="Public/view_header" title="修改合作机构"/>
<body>

  <div class="place">
    <span>位置：</span>
    <ul class="placeul">
      <li><a href="#">首页</a></li>
      <li><a href="#">机构信息管理</a></li>
      <li><a href="#">合作机构</a></li>
    </ul>
  </div>

  <div class="formbody">

    <div class="formtitle">
      <span>修改合作机构</span>
    </div>
    
    <ul class="forminfo">
    <form action="{:U('Home/agency/edit_agency')}" method="POST">
      <li>
        <label>公司名称</label>
        <input name="Company" value="{$data['company']}" type="text" class="dfinput"/>
        <i>如: 合作单位真实名称；如《柳州英腾软件》</i>
      </li>
      <li>
        <label>对外名称</label>
        <input name="abbr_cn" value="{$data['abbr_cn']}" type="text" class="dfinput" style="width:150px"/>
        <i>"如：考试宝典"</i>
      </li>
      <li>
        <label>英文简称</label>
        <input value="{$data['abbr_en']}" name="abbr_en" type="text" class="dfinput" style="width:150px" readonly="readonly"/>
        <i>"如：ksbao"</i>
      </li>
      <li>
        <label>登陆LOGO</label>
        <input name="login_icon" value="{$data['login_icon']}" type="text" class="dfinput"/>
      </li>
      <li>
        <label>登陆后LOGO</label>
        <input name="logo_icon" value="{$data['logo_icon']}" type="text" class="dfinput"/>
      </li>
      <li>
        <label>视频LOGO</label>
  	    <input name="video_icon" value="{$data['video_icon']}" type="text" class="dfinput"/>
      </li>
      <li>
        <label>视频片头</label>
        <input name="head_video" value="{$data['head_video']}" type="text" class="dfinput"/>
        <i>填入数字 按顺序排列</i>
      </li>
      <li>
        <label>机构域名</label>
        <input name="domain" value="{$data['domain']}" type="text" class="dfinput"/>
        <i>机构合作域名</i>
      </li>
      <li>
        <label>流媒体域名</label>
        <input name="FlvDomain" value="{$data['flvdomain']}" type="text" class="dfinput"/>
        <i>播放流媒体视频所需</i>
      </li>  
      <li>
        <label>机构首页</label>
        <input name="Home_url" value="{$data['home_url']}" type="text" class="dfinput"/>
      </li>
      <li>
        <label>登陆网址</label>
        <input name="Login_Url" value="{$data['login_Url']}" type="text" class="dfinput"/>
      </li>
      <li>
        <label>机构状态</label>
        <cite>
          <input name="StateTF" type="radio" value="1" checked="checked"/>&nbsp;启用
          &nbsp;&nbsp;&nbsp;&nbsp;
          <input name="StateTF" type="radio" value="0"/>&nbsp;停用
        </cite>
      </li>
      <li>
        <label>所在地区</label>
        <select name="Province" id="Province" class="styled-select" style="width:150px" onchange="loadoptions('City',2,this.value,'-选择市-')">
          <option value="">-选择省-</option>
          <volist name="area['province']" id="pro">
          <option value="{$pro.cityid}">{$pro.shortname}</option>
          </volist>
        </select>
        <select id="City" name="City" class="styled-select" style="width:150px" onchange="loadoptions('County',3,this.value,'-选择区(县)-')">
          <option value="">-选择市-</option>
          <volist name="area['citys']" id="ct">
          <option value="{$ct.cityid}">{$ct.shortname}</option>
          </volist>
        </select>
        <select id="County" name="County" class="styled-select" style="width:150px">
          <option value="">-选择区(县)-</option>
          <volist name="area['county']" id="county">
          <option value="{$county.cityid}">{$county.shortname}</option>
          </volist>
        </select>
      </li>
      <li>
        <label>详细地址</label>
        <input name="Address" value="{$data['address']}" type="text" class="dfinput" style="width:546px"/>
      </li>
      <li>
        <label>联系人</label>
        <input name="Contact" value="{$data['contact']}" type="text" class="dfinput" style="width:100px"/> 合作电话:<input name="HZTel" value="{$data['hztel']}" type="text" class="dfinput" style="width:150px"  /> 
        学员联系电话:<input name="StuTel" value="{$data['stutel']}" type="text" class="dfinput" style="width:150px"/>
      </li>
      <li>
        <label>机构简介</label>
        <textarea name="Introduce" class="dfinput" style="width:546px;height:102px;">{$data['introduce']}</textarea>
      </li>
      <li>
        <label>机构余额</label>
        <input name="Money" value="{$data['money']}" type="text" class="dfinput" style="width:100px"/>
        <i>"单位：元"</i>
      </li>
      <li>
        <label>机构折扣</label>
        <input name="dicount" value="{$data['dicount']}" type="text" class="dfinput" style="width:100px"/>
        <i>"合同折扣 默认1.0"</i>
      </li>
      <li>
        <label>试听数量</label>
        <input name="ListenNum" value="{$data['listennum']}" type="text" class="dfinput" style="width:100px" />
        <i>"默认为2"</i>
      </li>
      <li>
        <label>机构秘钥</label>
        <input name="Md5Key" value="{$data['md5key']}" type="text" class="dfinput" style="width:150px"/>
        手机端秘钥 <input name="APPKey" value="{$data['appkey']}" type="text" class="dfinput" style="width:150px"/>
      </li>
      <li>
        <label>头部html</label>
        <textarea name="html_header" class="dfinput" style="width:546px;height:102px;">{$data['html_header']}</textarea>
      </li>
      <li>
        <label>尾部html</label>
        <textarea name="html_footer" class="dfinput" style="width:546px;height:102px;">{$data['html_footer']}</textarea>
      </li>
      <li>
        <label>市场负责人</label>
        <select name="MarketID" class="styled-select">
          <option value="">-请选择-</option>
          <volist name="markets" id="market">
          <option value="{$market.adminid}">{$market.realname}</option>
          </volist>
        </select>
      </li>
      <li>
        <label>负责客服</label>
        <select name="KefuID" class="styled-select">
          <option value="">-请选择-</option>
          <volist name="services" id="kefu">
          <option value="{$kefu.adminid}">{$kefu.realname}</option>
          </volist>
        </select>
      </li>
      <li>
        <label>安卓下载地址</label>
        <input name="apk_url" value="{$data['apk_url']}" type="text" class="dfinput"/>
        <i>"andriod端APK下载地址"</i>
      </li>
      <li>
        <label>苹果下载地址</label>
        <input name="app_url" value="{$data['app_url']}" type="text" class="dfinput"/>
        <i>"IOS端APP获取地址"</i>
      </li>   
      <li>
        <label>&nbsp;</label>
        <input type="hidden" name="JGID" value="{$data['jgid']}"/>
        <input type="submit" class="btn" value="确认保存"/>
      </li>
      </form>
    </ul>
  </div>
  
  <script type="text/javascript">
  <!--
  $(function(){
    //
    loadoptions = function(obj,level,pid,default_opt){
      $.ajax({
        url:"{:U('Home/Citys/loadoptions')}",
        type:'POST',
        data:{level:level,pid:pid},
        dataType:'JSON',
        success:function(json){
          $("#County").empty();
          $('#County').append("<option value=''>-选择区(县)-</option>");
          if(typeof(default_opt)!=="undefined"){
            $("#"+obj).empty();
            $("#"+obj).append("<option value=''>"+default_opt+"</option>");
          }
          json_obj = eval( "(" + json + ")" );
          for(var i=0;i<=json_obj.length;i++){
            $("#"+obj).append("<option value='"+json_obj[i].cityid+"'>"+json_obj[i].shortname+"</option>")
          }
        }
      });
    };
    //
    <if condition="isset($data['statetf'])">
      //机构状态
      $("input[name='StateTF']").each(function(){
        if($(this).val() == {$data['statetf']}){
          $(this).attr('checked',true);
          return;
        }
      });
    </if>
    //
    <if condition="isset($data['province'])">
      //省
      $("#Province").val("{$data['province']}");
    </if>
    //
    <if condition="isset($data['city'])">
      //市
      $("#City").val("{$data['city']}");
    </if>
    //
    <if condition="isset($data['county'])">
      //县
      $("#County").val("{$data['county']}");
    </if>
    //
    <if condition="isset($data['marketid'])">
      //市场负责人
      $("select[name='MarketID']").val("{$data['marketid']}");
    </if>
    //
    <if condition="isset($data['kefuid'])">
      //负责客服
      $("select[name='KefuID']").val("{$data['kefuid']}");
    </if>
  });
  //-->
  </script>
</body>
<include file="Public/view_footer"/>