<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>主讲老师修改</title>
<link href="__PUBLIC__/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/js/jquery.js"></script>
<script type="text/javascript">
$(function(){
  $("input[name='Lock']").each(function(){
	 if($(this).val()==$("#Lock").val()){
		 $(this).attr("checked",true);
	 }
  })
})
</script>
</head>
<body>
<div class="place"> <span>位置：</span>
  <ul class="placeul">
    <li><a href="#">首页</a></li>
    <li><a href="#">主讲老师管理</a></li>
    <li><a href="#">修改老师</a></li>
  </ul>
</div>
<div class="formbody">
  <div class="formtitle"><span>修改主讲老师</span></div>
  <ul class="forminfo">
  <form name="user" action="{:U('teacher/edit_user')}" method="post">
    <li>
      <label>名师姓名</label>
      <input name="TeachName" type="text" class="dfinput" value="{$info['teachname']}" />
    </li>
    <li>
      <label>职称学历</label>
      <input name="ZCXL" type="text" class="dfinput" value="{$info['zcxl']}" />
      <i>职称、学历</i></li>
    <li>
      <label>名师照片</label>
      <input name="TeachPic" type="text" class="dfinput" value="{$info['teachpic']}" />
      </li>
    <li>
      <label>主讲考试</label>
      <cite>
	  <volist id="vo" name="examlist">
		<label><input name="AllExam" type="checkbox" align="absmiddle" value="{$vo['examid']}" />{$vo['cnname']}</label>
      </volist>
	  </cite></li>
    <li>
      <label>名师简介</label>
      <textarea name="Content" class="textinput">{$info['content']}</textarea>
    </li>
    <li>
      <label>&nbsp;</label>
      <input type="hidden" name="uid" value="{$info['tid']}" />
      <input name="" type="submit" class="btn" value="确认保存"/>
    </li>
    </form>
  </ul>
</div>
</body>
</html>
