<!doctype html>
<html>
<head>
<meta charset="gb2312">
<title>网络课程-视屏播放页right</title>
<link href="{$Think.const.APP_IMG}pub.css" rel="stylesheet" type="text/css">
<link href="{$Think.const.APP_IMG}video.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="vl fl">
  <div class="vl-nva">
    <div class="on" id="video_1" onClick="playtab('video_','video_list','on','off',1,3);">目录</div>
    <div class="off" id="video_2" onClick="playtab('video_','video_list','on','off',2,3);">问答</div>
    <div class="off" id="video_3" onClick="playtab('video_','video_list','on','off',3,3);">笔记</div>
  </div>
  <div class="Showbox" id="video_list1">
    <div class="vl-mulu">
      <div class="zhang">
        <div class="zh-l">第1章</div>
        <div class="zh-r" title="2014会计证考试辅导(1科全)">2014会计证考试辅导(1科全)</div>
      </div>
      <div class="list"> <a href="#" title="会计概述会计概述会计概述"><span>课时1</span>
        <div class="name"><em></em>会计概述会计概述会计概述</div>
        <div class="btn"><i></i>56:28</div>
        </a> <a href="#" class="xuan" title="会计概述会计概述会计概述"><span>课时2</span>
        <div class="name"><em></em>会计概述</div>
        <div class="btn"><b></b>56:28</div>
        </a> <a href="#" title="会计概述会计概述会计概述"><span>课时3</span>
        <div class="name"><em></em>会计概述</div>
        <div class="btn"><i></i>56:28</div>
        </a> <a href="#" title="会计概述会计概述会计概述"><span>课时4</span>
        <div class="name"><em></em>会计概述</div>
        <div class="btn"><i></i>56:28</div>
        </a> <a href="#" title="会计概述会计概述会计概述"><span>课时5</span>
        <div class="name"><em></em>会计概述</div>
        <div class="btn"><i></i>56:28</div>
        </a> <a href="#" title="会计概述会计概述会计概述"><span>课时6</span>
        <div class="name"><em></em>会计概述</div>
        <div class="btn"><i></i>56:28</div>
        </a> <a href="#" title="会计概述会计概述会计概述"><span>课时7</span>
        <div class="name"><em></em>会计概述</div>
        <div class="btn"><i></i>56:28</div>
        </a> <a href="#" title="会计概述会计概述会计概述"><span>课时8</span>
        <div class="name"><em></em>会计概述</div>
        <div class="btn"><i></i>56:28</div>
        </a> <a href="#" title="会计概述会计概述会计概述"><span>课时9</span>
        <div class="name"><em></em>会计概述</div>
        <div class="btn"><i></i>56:28</div>
        </a> </div>
      <div class="zhang">
        <div class="zh-l">第2章</div>
        <div class="zh-r" title="2014会计证考试辅导(1科全)">2014会计证考试辅导(2科全)</div>
      </div>
      <div class="list"> <a href="#" title="会计概述会计概述会计概述"><span>课时10</span>
        <div class="name"><em></em>会计概述</div>
        <div class="btn"><b></b>56:28</div>
        </a> <a href="#" title="会计概述会计概述会计概述"><span>课时11</span>
        <div class="name"><em></em>会计概述</div>
        <div class="btn"><b></b>56:28</div>
        </a> <a href="#" title="会计概述会计概述会计概述"><span>课时12</span>
        <div class="name"><em></em>会计概述</div>
        <div class="btn"><b></b>56:28</div>
        </a> <a href="#" title="会计概述会计概述会计概述"><span>课时13</span>
        <div class="name"><em></em>会计概述</div>
        <div class="btn"><b></b>56:28</div>
        </a> <a href="#" title="会计概述会计概述会计概述"><span>课时14</span>
        <div class="name"><em></em>会计概述</div>
        <div class="btn"><b></b>56:28</div>
        </a> <a href="#" title="会计概述会计概述会计概述"><span>课时15</span>
        <div class="name"><em></em>会计概述</div>
        <div class="btn"><b></b>56:28</div>
        </a> <a href="#" title="会计概述会计概述会计概述"><span>课时16</span>
        <div class="name"><em></em>会计概述</div>
        <div class="btn"><b></b>56:28</div>
        </a> <a href="#" title="会计概述会计概述会计概述"><span>课时17</span>
        <div class="name"><em></em>会计概述</div>
        <div class="btn"><b></b>56:28</div>
        </a> <a href="#" title="会计概述会计概述会计概述"><span>课时18</span>
        <div class="name"><em></em>会计概述</div>
        <div class="btn"><b></b>56:28</div>
        </a> <a href="#" title="会计概述会计概述会计概述"><span>课时19</span>
        <div class="name"><em></em>会计概述</div>
        <div class="btn"><b></b>56:28</div>
        </a> <a href="#" title="会计概述会计概述会计概述"><span>课时20</span>
        <div class="name"><em></em>会计概述</div>
        <div class="btn"><b></b>56:28</div>
        </a> </div>
    </div>
  </div>
  <div class="Hidebox" id="video_list2">
    <div class="vlbook-box fl">
      <textarea name="" class="book-box"></textarea>
      <div class="sure"><a href="#">发布问答</a></div>
      <div class="h10"></div>
    </div>
    <div class="vlbook-cont">
      <div class="vlbook fl">
        <div class="txt">
          <div class="f-right">
            <div class="vipname fl">李晓明<span>2015-07-15</span></div>
            <div class="pinglun-box fl">高级会计师的基本任务条件之一是取得博士学位</div>
            <div class="huifu"><span id="huifu1"><a href="#" class="apply huifu">回复(2)</a></span></div>
          </div>
        </div>
      </div>
      <div class="vlbook fl">
        <div class="txt">
          <div class="f-right">
            <div class="vipname fl">李晓明<span>2015-07-15</span></div>
            <div class="pinglun-box fl">高级会计师的基本任务条件之一是取得博士学位</div>
            <div class="huifu"><span id="huifu1"><a href="#" class="apply huifu">回复(2)</a></span></div>
          </div>
        </div>
      </div>
      <div class="vlbook fl">
        <div class="txt">
          <div class="f-right">
            <div class="vipname fl">李晓明<span>2015-07-15</span></div>
            <div class="pinglun-box fl">高级会计师的基本任务条件之一是取得博士学位</div>
            <div class="huifu"><span id="huifu1"><a href="#" class="apply huifu">回复(2)</a></span></div>
          </div>
        </div>
      </div>
      <div class="vlbook fl">
        <div class="txt">
          <div class="f-right">
            <div class="vipname fl">李晓明<span>2015-07-15</span></div>
            <div class="pinglun-box fl">高级会计师的基本任务条件之一是取得博士学位</div>
            <div class="huifu"><span id="huifu1"><a href="#" class="apply huifu">回复(2)</a></span></div>
          </div>
        </div>
      </div>
    </div>
    <div class="page-pl fl"><a href="#">&lt;</a><a href="#">1</a><em>...</em><span>2</span><a href="#">3</a><a href="#">&gt;</a></div>
  </div>
  <div class="Hidebox" id="video_list3">
    <div class="vlbook-box fl">
      <textarea name="" class="book-box"></textarea>
      <div class="sure"><a href="#">保存笔记</a></div>
      <div class="h10"></div>
    </div>
    <div class="vlbook fl">
      <div class="txt">
        <div class="f-right">
          <div class="vipname fl">
            <a href="#"><div class="ico">02:12</div></a>
          </div>
          <div class="pinglun-box fl">高级会计师的基本任务条件之一是取得博士学位</div>
        </div>
      </div>
    </div>
    <div class="vlbook fl">
      <div class="txt">
        <div class="f-right">
          <div class="vipname fl">
            <a href="#"><div class="ico">02:12</div></a>
          </div>
          <div class="pinglun-box fl">高级会计师的基本任务条件之一是取得博士学位</div>
        </div>
      </div>
    </div>
    <div class="vlbook fl">
      <div class="txt">
        <div class="f-right">
          <div class="vipname fl">
            <a href="#"><div class="ico">02:12</div></a>
          </div>
          <div class="pinglun-box fl">高级会计师的基本任务条件之一是取得博士学位</div>
        </div>
      </div>
    </div>
    <div class="vlbook fl">
      <div class="txt">
        <div class="f-right">
          <div class="vipname fl">
            <a href="#"><div class="ico">02:12</div></a>
          </div>
          <div class="pinglun-box fl">高级会计师的基本任务条件之一是取得博士学位</div>
        </div>
      </div>
    </div>
    <div class="vlbook fl">
      <div class="txt">
        <div class="f-right">
          <div class="vipname fl">
            <a href="#"><div class="ico">02:12</div></a>
          </div>
          <div class="pinglun-box fl">高级会计师的基本任务条件之一是取得博士学位</div>
        </div>
      </div>
    </div>
    <div class="vlbook fl">
      <div class="txt">
        <div class="f-right">
          <div class="vipname fl">
            <a href="#"><div class="ico">02:12</div></a>
          </div>
          <div class="pinglun-box fl">高级会计师的基本任务条件之一是取得博士学位</div>
        </div>
      </div>
    </div>
    <div class="page-pl fl"><a href="#">&lt;</a><a href="#">1</a><em>...</em><span>5</span><a href="#">6</a><a href="#">&gt;</a></div>
  </div>
</div>
</div>
</body>
<script language="javascript" src="http://img.examw.com/e.js"></script>
</html>