<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>网络课程-视屏播放页</title>
</head>
<frameset rows="60,*,0" cols="*" framespacing="0" frameborder="no" border="0">
  <frame src="video-top.html" name="topFrame" scrolling="No" noresize="noresize" id="topFrame" title="topFrame" />
  <frameset rows="0" cols="*,301" framespacing="0" frameborder="no" border="0">
    <frame src="{:U('video/left')}" name="leftFrame" id="leftFrame" title="mainFrame" />
    <frame src="" name="mainFrame" id="mainFrame" noresize="noresize" />
  </frameset>
<noframes>
<body>
</body>
</noframes>
</html>