<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>会计从业资格证 视频top</title>
<link href="img/pub.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="topbox">
  <div class="logo fl"><a href="#"><img src="pic/logo.jpg" width="175" height="60"></a></div>
  <h2>4000-525-585</h2>
  <div class="top-r fr"> <a href="#">退出</a><a href="#" target="_blank">题库</a><a href="index.html">个人中心</a>
    <div class="top-head fr"><span>testbook</span><img src="pic/head.jpg" width="132" height="123"></div>
  </div>
</div>
</body>
</html>
