<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>机构信息</title>
<link href="__PUBLIC__/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/js/jquery.js"></script>
<script type="text/javascript">
$(function(){
  $("input[name='StateTF']").each(function(){
	 if($(this).val()==$("#statetf").val()){
		$(this).attr("checked",true);
	 }
  })
})
</script>
</head>


<body>

	<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="#">首页</a></li>
    <li><a href="#">系统管理</a></li>
    <li><a href="#">机构设置</a></li>
    <li><a href="#">机构信息</a></li>
    </ul>
    </div>
    
    <div class="rightinfo">
    
    <div class="tools">
<div class="formbody">
  <div class="formtitle"><span>机构信息</span><input type="hidden" id="statetf" value="{$info['statetf']}" /><span style='right: 0px;'>（底部点确认保存）</span></div>
  <ul class="forminfo">
  <form name="jigou" action="{:U('jigou/edit_jigou')}" method="post">
    <li>
      <label>机构名称</label>
      <input name="Company" type="text" class="dfinput" value="{$info.company}" readonly="readonly" />
    </li>
      <li>
      <label>对外名称</label>
      <input name="abbr_cn" type="text" class="dfinput" value="{$info.abbr_cn}" readonly="readonly" />
    </li>
      <li>
      <label>英文名称</label>
      <input name="abbr_en" type="text" class="dfinput" value="{$info.abbr_en}" readonly="readonly" />
    </li>
      <li>
      <label>登陆logo</label>
      <input name="login_icon" type="text" class="dfinput" value="{$info.login_icon}" readonly="readonly" />
    </li>
      <li>
      <label>登陆后logo</label>
      <input name="logo_icon" type="text" class="dfinput" value="{$info.logo_icon}" readonly="readonly" />
    </li>
      <li>
      <label>视频logo</label>
      <input name="video_icon" type="text" class="dfinput" value="{$info.video_icon}" readonly="readonly" />
    </li>
      <li>
      <label>视频片头</label>
      <input name="head_video" type="text" class="dfinput" value="{$info.head_video}" readonly="readonly" />
    </li>
      <li>
      <label>机构域名</label>
      <input name="domain" type="text" class="dfinput" value="{$info.domain}" readonly="readonly" />
    </li>
      <li>
      <label>流媒体域名</label>
      <input name="FlvDomain" type="text" class="dfinput" value="{$info.flvdomain}" readonly="readonly" />
    </li>
      <li>
      <label>机构首页</label>
      <input name="Home_url" type="text" class="dfinput" value="{$info.ome_url}" readonly="readonly" />
    </li>
      <li>
      <label>登陆网址</label>
      <input name="Login_Url" type="text" class="dfinput" value="{$info.login_url}" readonly="readonly" />
    </li>
      <li>
      <label><input name="" type="text" class="" value="机构状态" readonly="readonly" /></label>      
      <input name="StateTF" type="radio" value="0" />
      是&nbsp;&nbsp;&nbsp;&nbsp;
      <input name="StateTF" type="radio" value="1" />
      否      
    </li>
      <li>
      <label><input name="" type="text" class="" value="包含考试" readonly="readonly" /></label>      
      <volist id='vo' name='allexams' key='k' mod='5'>
          {$vo.cnname}&nbsp;&nbsp;         
      </volist>
    </li>
      <li>
          <label><input name="" type="text" class="" value="地区" readonly="readonly" /></label>      
          {$info.Province}省{$info.city}市{$info.county}区县
    </li>
      <li>
      <label>详细地址</label>
      <input name="Address" type="text" class="dfinput" value="{$info.address}" readonly="readonly" />
    </li>
      <li>
      <label>联系人</label>
      <input name="Contact" type="text" class="dfinput" value="{$info.contact}" readonly="readonly" />
    </li>
      <li>
      <label>合作联系电话</label>
      <input name="HZTel" type="text" class="dfinput" value="{$info.hztel}" readonly="readonly" />
    </li>
      <li>
      <label>学员联系电话</label>
      <input name="StuTel" type="text" class="dfinput" value="{$info.stutel}" readonly="readonly" />
    </li>      
      <li>
      <label><input name="" type="text" class="" value="机构余额" readonly="readonly" /></label>
      <input name="" type="text" class="" value="{$info.money}" readonly="readonly" />
    </li>
      <li>
      <label><input name="" type="text" class="" value="机构折扣" readonly="readonly" /></label>
      <input name="dicount" type="text" class="" value="{$info.dicount}" readonly="readonly" />
    </li>
      <li>
      <label>试听数量</label>
      <input name="ListenNum" type="text" class="dfinput" value="{$info.listennum}" readonly="readonly" />
    </li>
    <li>
      <label>机构秘钥</label>
      <input name="Md5Key" type="text" class="dfinput" value="{$info.md5key}" readonly="readonly" />
    </li>
      <li>
      <label>手机端秘钥</label>
      <input name="APPKey" type="text" class="dfinput" value="{$info.appkey}" readonly="readonly" />
    </li>
      <li>
      <label>头部html</label>
      <input name="html_header" type="text" class="dfinput" value="{$info.html_header}" readonly="readonly" />
    </li>
      <li>
      <label>尾部html</label>
      <input name="html_footer" type="text" class="dfinput" value="{$info.html_footer}" readonly="readonly" />
    </li>
      <li>
      <label><input name="" type="text" class="" value="创建时间" readonly="readonly" /></label>
      <input name="create_time" type="text" class="" value="{$info.create_time}" readonly="readonly" />
    </li>
      <li>
      <label><input name="" type="text" class="" value="更新时间" readonly="readonly" /></label>
      <input name="last_time" type="text" class="" value="{$info.last_time}" readonly="readonly" />
    </li>
      <li>
      <label>市场负责人</label>
      <input name="MarketID" type="text" class="dfinput" value="{$info.marketid}" readonly="readonly" />
    </li>
      <li>
      <label>负责客服</label>
      <input name="KefuID" type="text" class="dfinput" value="{$info.kefuid}" readonly="readonly" />
    </li>
       <li>
      <label>安卓下载地址</label>
      <input name="apk_url" type="text" class="dfinput" value="{$info.apk_url}" readonly="readonly" />
    </li>
       <li>
      <label>苹果下载地址</label>
      <input name="app_url" type="text" class="dfinput" value="{$info.app_url}" readonly="readonly" />
    </li>
      <li>
      <label>机构简介</label>
      <textarea name="Introduce" class="textinput">{$info.introduce}</textarea>      
    </li>
    <li>
      <label>&nbsp;</label>
      <input type="hidden" name="JGID" value="{$info.jgid}" />
      <input name="" type="submit" class="btn" value="确认保存"/>
    </li>
    </form>
  </ul>
</div>
    <!--<div class="pagin">
    </div>-->
    </div>
        
</body>

</html>
