<include file="Public/view_header" title="添加用户组"/>
<body>
  <style type="text/css">
  .module {
    background:#C3EFFF;
    height:25px;
    line-height:25px;
    padding:0 0 0 10px;
    margin:0;
    display:block;
    clear:both
  }
  .rulelist li {
    float:left;
    width:120px;
    clear:none !important;
    height:30px;
    line-height:30px;
    margin-bottom:0;
  }
  .rulelist li input{margin-right:5px;}
  </style>

  <div class="place"> 
    <span>位置：</span>
    <ul class="placeul">
      <li><a href="#">首页</a></li>
      <li><a href="#">用户和权限管理</a></li>
      <li><a href="#">添加用户组</a></li>
    </ul>
  </div>

  <div class="formbody">

    <div class="formtitle">
      <span>添加用户组</span>
    </div>
    <ul class="forminfo">
      <form name="user" action="{:U('Home/Auth/add_group')}" method="post">
      <li>
        <label>用户组名称</label>
        <input name="title" type="text" class="dfinput"/>
        <i>如: 超级管理员</i>
      </li>
      <li>
        <label>用户组简述</label>
        <input name="describe" type="text" class="dfinput"/>
        <i>如 "拥有相对多的权限"</i>
      </li>
      <li>  
        <label>是否启用</label>
        <cite>
          <input name="status" type="radio" value="1" checked="checked"/>&nbsp;是
          &nbsp;&nbsp;&nbsp;&nbsp;
          <input name="status" type="radio" value="0"/>&nbsp;否
        </cite>
      </li>
      <li>
        <label>权限分配</label>
        <table class="rulelist">
          <tr>
            <td>
            <volist name="rules" id="vo">
              <if condition="$vo.rules neq NULL ">
              <ul>
                <p class="module"><input type="checkbox"/>&nbsp;{$vo.title}</p>
                <volist name="vo['rules']" id="li">
                <li>
                  <input name="rules[]" value="{$li.id}" type="checkbox"/>{$li.title}
                </li>
                </volist>
              </ul>
              </if>
            </volist>
            </td>
          </tr>
        </table>
      </li>
      <li>
        <label>&nbsp;</label>
        <input type="submit" class="btn" value="确认保存"/>
      </li>
      </form>
    </ul>
  </div>

  <script type="text/javascript">
  <!--
  $(function(){
    //
    $(".module > input[type='checkbox']").click(function(){
      var chk = $(this).attr('checked');
      $(this).parent().nextAll().each(function(){
        $(this).find('input').each(function(){
          $(this).attr('checked', chk);
        });
      });
    });
  });
  //-->
  </script>

</body>
<include file="Public/view_footer"/>