<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>用户组列表</title>
<link href="__PUBLIC__/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/js/jquery.js"></script>
</head>


<body>

	<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="#">首页</a></li>
    <li><a href="#">用户和权限管理</a></li>
    <li><a href="#">用户组列表</a></li>
    </ul>
    </div>
    
    <div class="rightinfo">
    
    <div class="tools">
    
    	<ul class="toolbar">
        <li class="click"><a href="{:U('auth/add_group')}"><span><img src="__PUBLIC__/images/t01.png" /></span>添加</a></li>
        </ul>
        
        
        <ul class="toolbar1">
        <li><span><img src="__PUBLIC__/images/t05.png" /></span>设置</li>
        </ul>
    
    </div>
    <table class="tablelist">
    	<thead>
    	<tr>
        <th>编号<i class="sort"><img src="__PUBLIC__/images/px.gif" /></i></th>
        <th>管理组名称</th>
        <th>规则简述</th>
        <th>状态</th>
        <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <volist id="vo" name="group">
        <tr>
        <td>{$vo.id}</td>
        <td>{$vo.title}</td>
        <td>{$vo.describe}</td>
        <td>
        <if condition="$vo.status eq 1">
        <font color="#008000">√</font>
        <else />
        <font color="#FF0000">×</font>
        </if>
        </td>
        <td><a href="{:U('auth/edit_group',array('gid' => $vo['id']))}" class="tablelink">修改</a>     <a href="{:U('auth/del_group',array('gid' => $vo['id']))}" onclick="javascript:return confirm('确定删除此用户组吗?')" class="tablelink"> 删除</a></td>
        </tr>   
        </volist>   
        </tbody>
    </table>
    <!--<div class="pagin">
    </div>-->
    </div>
    
    <script type="text/javascript">
	$('.tablelist tbody tr:odd').addClass('odd');
	</script>

</body>

</html>
