<include file="Public/view_header" title="系统权限模块列表"/>
<body>
	<div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="#">首页</a></li>
            <li><a href="#">用户和权限管理</a></li>
            <li><a href="#">权限模块列表</a></li>
        </ul>
    </div>
    
    <div class="rightinfo">
    
        <div class="tools">
        
        	<ul class="toolbar">
                <li class="click"><a href="{:U('Home/Auth/add_module')}"><span><img src="__PUBLIC__/images/t01.png" /></span>添加</a>
                </li>
            </ul>

        </div>

        <table class="tablelist">
        	<thead>
            	<tr>
                    <th>编号<i class="sort"><img src="__PUBLIC__/images/px.gif" /></i></th>
                    <th>模块名称</th>
                    <th>排序</th>
                    <th>显示</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <volist id="vo" name="module">
                <if condition="$vo.pid neq 0">
                <tr style="color:#999">
                    <td>{$vo.id}</td>
                    <td>----{$vo.title}</td>
                    <td>{$vo.sortid}</td>
                    <td>
                        <if condition="$vo.show eq 1">
                            <font color="#008000">√</font>
                        <else />
                            <font color="#FF0000">×</font>
                        </if>
                    </td>
                    <td>
                        <a href="{:U('Home/Auth/edit_module',array('mid' => $vo['id']))}" class="tablelink">修改</a>
                        <a href="{:U('Home/Auth/del_module',array('mid' => $vo['id']))}" onclick="javascript:return confirm('确定删除此模块吗/n子模块将同时被删除?')" class="tablelink"> 删除</a>
                    </td>
                </tr>
                <else/>
                <tr>
                    <td>{$vo.id}</td>
                    <td>{$vo.title}</td>
                    <td>{$vo.sortid}</td>
                    <td>
                        <if condition="$vo.show eq 1">
                            <font color="#008000">√</font>
                        <else />
                            <font color="#FF0000">×</font>
                        </if>
                    </td>
                    <td>
                        <a href="{:U('Home/Auth/edit_module',array('mid' => $vo['id']))}" class="tablelink">修改</a>
                        <a href="{:U('Home/Auth/del_module',array('mid' => $vo['id']))}" onclick="javascript:return confirm('确定删除此模块吗?\n子模块将同时被删除')" class="tablelink"> 删除</a>
                    </td>
                </tr>
                </if>
                </volist>
            </tbody>
        </table>
    </div>

    <script type="text/javascript">
    <!--
    $(function(){
        //
        $('.tablelist tbody tr:odd').addClass('odd');
    });
    //-->
    </script>
</body>
<include file="Public/view_footer"/>