<include file="Public/view_header" title="用户组列表"/>
<body>

	<div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="#">首页</a></li>
            <li><a href="#">用户和权限管理</a></li>
            <li><a href="#">用户组列表</a></li>
        </ul>
    </div>
    
    <div class="rightinfo">
    
        <div class="tools">
        	<ul class="toolbar">
                <li class="click">
                    <a href="{:U('Home/Auth/add_group')}"><span><img src="__PUBLIC__/images/t01.png" /></span>添加</a>
                </li>
            </ul>
        </div>

        <table class="tablelist">
        	<thead>
            	<tr>
                    <th>编号<i class="sort"><img src="__PUBLIC__/images/px.gif" /></i></th>
                    <th>管理组名称</th>
                    <th>规则简述</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <volist id="vo" name="group">
                <tr>
                    <td>{$vo.id}</td>
                    <td>{$vo.title}</td>
                    <td>{$vo.describe}</td>
                    <td>
                        <if condition="$vo.status eq 1">
                            <font color="#008000">√</font>
                        <else/>
                            <font color="#FF0000">×</font>
                        </if>
                    </td>
                    <td>
                        <a href="{:U('Home/Auth/edit_group',array('gid' => $vo['id']))}" class="tablelink">修改</a>
                        <a href="{:U('Home/Auth/del_group',array('gid' => $vo['id']))}" onclick="javascript:return confirm('确定删除此用户组吗?')" class="tablelink"> 删除</a>
                    </td>
                </tr>   
                </volist>   
            </tbody>
        </table>
    </div>

    <script type="text/javascript">
    <!--
    $(function(){
        //
        $('.tablelist tbody tr:odd').addClass('odd');
    });
    //-->
    </script>
</body>
<include file="Public/view_footer"/>