<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>机构用户添加</title>
<link href="__PUBLIC__/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/js/jquery.js"></script>
<script type="text/javascript">
    var i_color=($('#i_color').css('color'));
    function scid_onchange(){
        var strValue=$("#select_id").val();
         if(strValue!='false'){
            var strText=$("#select_id").find("option:selected").text();
            $('#sysclass_info').css('color',i_color).text('系统班级');
            $('#class_info').css('color',i_color).text('自定义班级名称，默认系统班级名称');
            $('#price_info').css('color',i_color).text('单位元');
            $('#sale_price_info').css('color',i_color).text('单位元');
            $.ajax({
               url:"{:U('jigouClass/query_sys_class')}",
               type:'post',
               data:{scid:strValue},
               dataType:'JSON',
               success:function(json){
                    json_obj = eval("("+json+")");
                    for(i=0;i<=json_obj.length;i++){
                            if(typeof(json_obj[i])!='undefined'){
                            $('#sys_teacher').val(json_obj[i].teachname);
                            $('#sys_ecnname').val(json_obj[i].ecnname); 
                            $('#sys_examid').val(json_obj[i].examid); 
                            $('#sys_subname').val(json_obj[i].subname); 
                            $('#sys_subid').val(json_obj[i].subid); 
                            $('#sys_sale_price').val(json_obj[i].price);
                            $('#sys_price').val(json_obj[i].price);
                            $('#sys_classnum').val(json_obj[i].classnum);
                            $('#sys_validity').val(json_obj[i].validity); 
                        }
                    }
                    $('#sys_cnname').val(strText);

               }
            });
              
         }else{
              $('#sys_cnname').val(null);
              $('#sys_teacher').val(null);
              $('#sys_ecnname').val(null);
              $('#sys_subname').val(null);
              $('#sys_sale_price').val(null);
              $('#sys_price').val(null);
              $('#sys_classnum').val(null);
              $('#sys_validity').val(null);
         }
    }
    
    function cnname_onblur(value){
            if(value==undefined || value=="" || value==null){
                $('#class_info').css('color','#F00').text('不能为空');
            }else{
                $('#class_info').css('color',i_color).text('自定义班级名称，默认系统班级名称');
            }
    }
    
    function sale_price_onblur(value){
         if(isNaN(value)){
                 $('#sale_price_info').css('color','#F00').text('请输入数值');
                 return false;
            }else if(value==undefined || value=="" || value==null){
                $('#sale_price_info').css('color','#F00').text('不能为空');
            }else{
                $('#sale_price_info').css('color',i_color).text('单位元');
            }
    }
    function price_onblur(value){
        if(isNaN(value)){
                $('#price_info').css('color','#F00').text('请输入数值');
                return false;
            }else if(value==undefined || value=="" || value==null){
                $('#price_info').css('color','#F00').text('不能为空');
            }else{
                $('#price_info').css('color',i_color).text('单位元');
            }
    }
    
    function class_submit(){
        var strValue=$("#select_id").val();
        if(strValue!='false'){
            var sale_price = $('#sys_sale_price').val();
            var price = $('#sys_price').val();
            var cnname = $('#sys_cnname').val();
             if(cnname==undefined || cnname=="" || cnname==null){
                $('#class_info').css('color','#F00').text('不能为空');
                return false;
            }else{
                $('#class_info').css('color',i_color).text('自定义班级名称，默认系统班级名称');
            }
            if(isNaN(sale_price)){
                 $('#sale_price_info').css('color','#F00').text('请输入数值');
                 return false;
            }else if( sale_price==undefined || sale_price=="" || sale_price==null){
               $('#sale_price_info').css('color','#F00').text('不能为空');
                return false;
            }
            if(isNaN(price)){
                $('#price_info').css('color','#F00').text('请输入数值');
                return false;
            }else if(price==undefined || price=="" || price==null){
                $('#price_info').css('color','#F00').text('不能为空');
                return false;
            }           
        }else{
            $('#sysclass_info').css('color','#F00').text('系统班级未选择');
            return false;
        }
    }
</script>

</head>
<body>
<div class="place"> <span>位置：</span>
  <ul class="placeul">
    <li><a href="#">首页</a></li>
    <li><a href="#">课程管理</a></li>
    <li><a href="#">班级设置</a></li>
    <li><a href="#">添加班级</a></li>
  </ul>
</div>
<div class="formbody">
  <div class="formtitle"><span>添加班级</span><span style="right: 0px">(底部点击确认保存)</span></div>
  <ul class="forminfo">
      <form name="jigouclass" action="{:U('jigouClass/add_class')}" method="post" onsubmit="return class_submit()">
    <li>
      <label>系统班级</label>
      <select name="SCID" class="dfinput" id="select_id" onchange="scid_onchange()">
        <option value="false">选择班级</option>
        <volist id="vo" name="classlist" >
            <option value="{$vo.scid}">{$vo.scname}</option>
        </volist>
      </select>
      <i id="sysclass_info" class="info">系统班级</i><i id="i_color"></i></li>
    <li>
      <label>班级名称</label>
      <input name="CnName" type="text" class="dfinput" id="sys_cnname" onblur="cnname_onblur(this.value)"/>
      <i id="class_info" class="info">自定义班级名称，默认系统班级名称</i></li>
    <li>
        <li>
      <label>主讲老师</label>
      <input name="TeacherID" type="text" class="dfinput" id="sys_teacher" readonly="readonly"/>
      <i>不能修改</i></li>
        <li>
      <label>课时数</label>
      <input name="ClassNum" type="text" class="dfinput" id="sys_classnum" readonly="readonly"/>
      <i>不能修改</i></li>
        <li>
      <label>考试类目</label>
      <input name="" type="text" class="dfinput" id="sys_ecnname" readonly="readonly"/>
      <input name="ExamID" type="hidden" id="sys_examid"/>
      <i>不能修改</i></li>
        <li>
      <label>考试科目</label>
      <input name="SubName" type="text" class="dfinput" id="sys_subname" readonly="readonly"/>
      <input name="SubID" type="hidden" id="sys_subid"/>
      <i>不能修改</i></li>
        <li>
      <label>课程有效期</label>
      <input name="validity" type="text" class="dfinput" id="sys_validity" />
      <i></i></li>
      <li>
      <label>描述</label>
      <input name="Desc" type="text" class="dfinput"/>
      <i>班级描述</i></li>
        <li>
      <label>宣传图片URL</label>
      <input name="PicPath" type="text" class="dfinput" />
      <i></i></li>
    <li>
        <li>
      <label>使用年份</label>
      <input name="UsrYear" type="text" class="dfinput" />
      <i></i></li>
    <li>
        <li>
      <label>销售价格</label>
      <input name="sale_price" type="text" class="dfinput" id="sys_sale_price" onblur="sale_price_onblur(this.value)"/>
      <i id="sale_price_info">单位元</i></li>
         <li>
      <label>优惠价格</label>
      <input name="price" type="text" class="dfinput" id="sys_price" onblur="price_onblur(this.value)"/>
      <i id="price_info">单位元</i></li>
      <li>
      <label>试听课程ID</label>
      <input name="ListenID" type="text" class="dfinput" />
      <i></i></li>
        <li>
       <label>排序ID</label>
      <input name="SortID" type="text" class="dfinput" />
      <i></i></li>
        <li>
      <label>是否锁定</label>
      <cite>
      <input name="StateTF" type="radio" value="1"/>
      是&nbsp;&nbsp;&nbsp;&nbsp;
      <input name="StateTF" type="radio" value="0" checked="checked" />
      否</cite></li>
    <li>
      <label>&nbsp;</label>
      <input name="" type="submit" class="btn" value="确认保存"/>
    </li>
    </form>
  </ul>
</div>
</body>
</html>
